<h1><code>Hello, World! ({{ value }})</code></h1>

<app-counter [counter] = '10' (onValueChanged)="valueChanged($event)"></app-counter>

<ul *ngIf="historicalValue.length > 0; else noData">
  <li *ngFor="let i of historicalValue; let idx = index">
    <h3>
      {{ idx + 1 }}. {{ i }}
      <button (click) = "deleteValue(idx)">X</button>
    </h3>
  </li>
</ul>

<!-- Using my-component template -->
<!-- if title is not specified: it will take the default title value in my-component.component -->
<!-- <app-my-component></app-my-component> 
<app-my-component title="Real dancing bear" imageUrl="/assets/real bear dancing.gif"></app-my-component>
<app-my-component title="Thumbs up from bear"></app-my-component> -->

<ng-template #noData>
  <h2>No Data</h2>
</ng-template>